.single-astro-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.astro-match-title {
    font-size: 4em;
    padding: 0;
    margin: 0;
    text-align: center;
}

.astro-card-image-container {
    border: 5px solid gray;
    margin-top: 3%;
    padding: 2%;
    width: 70%;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    object-fit: cover;
    border: 5px rgb(182, 176, 177) solid;
    box-shadow: 7px -10px 20px 10px;
    border-radius: 20px;

}

.astro-image-info-page {
    border-radius: 15px;
}


.explanation-container {
    border: 5px solid gray;
    padding: 2%;
    border-radius: 15px;
    width: 50%;
    margin-top: 5%;
    font-size: 1.5em;
    margin-bottom: 5%;
}