.app-description {
    font-size: 1em;
    /* border: 5px solid purple;
    border-radius: 20px; */
    /* text-align: center; */
    width: 30%;
    display: flex;
    /* justify-content:flex-end; */
    /* align-items: center; */
}

.text {
    color: purple;
    border: 5px solid purple;
    border-radius: 20px;
    /* justify-content: center; */

}